body {
  margin: 0;
}

.navBarPadding {
  padding: 0.5rem 3% 1rem !important;
}

.navBarText {
  color: #1e202f !important;
  font-weight: 400 !important;
}

.textWidth{
  text-align: center;
}

.textUnderLine {
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

@media screen and (min-width: 1300px) {
  .navBarPadding {
    padding: 0.5rem 15% 1rem !important;
  }
  .textWidth{
    width: 50%;
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  .navBarPadding {
    padding: 0.5rem 8% 1rem !important;
  }
  .textWidth{
    width: 50%;
    text-align: left;
  }
  
}
