@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Inter:wght@900&family=Italianno&family=Mulish:ital,wght@0,200;0,300;0,600;0,800;1,500;1,700&family=Open+Sans:ital,wght@0,400;0,500;1,800&family=Public+Sans:wght@100&display=swap');
body {
  margin: 0;
  font-family: mulish,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
